# Module 1 - Introducing Libraries: NumPy and Pandas
## Pandas Part 1

### Introduction

![austin](http://www.austintexas.gov/sites/default/files/aac_logo.jpg)
You have decided that you want to start your own animal shelter, but you want to get an idea of what that will entail and get more information about planning. You have found out that Austin has one of the largest no-kill animal shelters in the country, and they keep meticulous track of animals that have been taken in and released. However, it is a large file, the online visualization tools provided are terrible, the data is sorted as strings, and the file holds an overwhelming amount  of information. Is there an easy way to look at this data? Can we do this with base Python? Is there a better way?


#### _Our goals today are to be able to_: <br/>

- Identify and import Python libraries
- Identify differences between NumPy and base Python in usage and operation
- Import/read data using Pandas
- Identify Pandas objects and manipulate Pandas objects by index and columns
- Filter data using Pandas

#### _Big questions for this lesson_: <br/>
- What is a package, what do packages do, and why might we want to use them?
- When do we want to use NumPy versus Pandas?
- What are the advantages of using Pandas?

### Activation:

![excel](excelpic.jpg)

Most people have used Microsoft Excel or Google sheets. But what are the limitations of excel?

- [Take a minute to read this article](https://www.bbc.com/news/magazine-22223190)
- make a list of problems excel presents

How is using python different?

### 1. Importing Python Libraries


In an earlier lesson, we wrote a function to calculate the mean of an list. That was **tedious**.

Thankfully, other people have wrote and optimized functions and wrapped them into `libraries` we can then call and use in our analysis.

![numpy](https://raw.githubusercontent.com/donnemartin/data-science-ipython-notebooks/master/images/numpy.png)

[NumPy](https://www.numpy.org/) is the fundamental package for scientific computing with Python. 


To import a package type `import` followed by the name of the library as shown below.

In [ ]:
import numpy 

x=numpy.array([1,2,3])
print(x)

In [ ]:
#most packages have a standard way to import them
import numpy as np

y=np.array([4,5,6])
print(y)

Because of numpy we can now get the **mean** and other quick math of lists and arrays.

In [ ]:
ex2 = np.array([4,3,25,40,62,20.0])
ex2

In [ ]:
example = [4,3,25,40,62,"20"]
print(np.mean(example))

In [ ]:
int(37.3)

In [ ]:
import math

In [ ]:
math.floor(37.3)

Now let's import some other packages. We will cover in more detail some fun options for numpy later.

In [ ]:
import scipy  # no nickname
import pandas as pd  # common nickname
import matplotlib as mpl  # non common nickname

In [ ]:
#sometimes we will want to import a specific module from a library
import matplotlib.pyplot as plt  # common nickname

plt.plot(x,y)

In [ ]:
# interactive pop up for method documentation
# is () with a shift tab inside of ()
plt.plot()

In [ ]:
# or you can print out the whole entire documentation
# help(plt.plot)

In [ ]:
#OR we can also import it this way

from matplotlib import pyplot as plt 
plt.plot(x,y)

Try importing the seaborn library as ['sns'](https://en.wikipedia.org/wiki/Sam_Seaborn) which is the convention.

In [ ]:
#type your code here!
import seaborn as sns

#### Helpful links: library documenation

Libraries have associated documentation to explain how to use the different tools included in a library.

- [NumPy](https://docs.scipy.org/doc/numpy/)
- [SciPy](https://docs.scipy.org/doc/scipy/reference/)
- [Pandas](http://pandas.pydata.org/pandas-docs/stable/)
- [Matplotlib](https://matplotlib.org/contents.html)

### 2. NumPy versus base Python

Now that we know libraries exist, why do we want to use them? Let us examine a comparison between base Python and Numpy.

Python has lists and normal python can do basic math. NumPy, however, has the helpful objects called arrays.

Numpy has a few advantages over base Python which we will look at.

In [ ]:
import numpy

In [ ]:
import numpy as np

In [ ]:
names_list=['Bob','John','Sally']
names_array=numpy.char.array(['Bob','John','Sally']) #use numpy.array for numbers and numpy.char.array for strings
print(names_list)
print(names_array)

In [ ]:
names_array

In [ ]:
names_array + "_totally!"

In [ ]:
names_array

In [ ]:
food_array = np.char.array(["pizza", "pasta", "green chili stew"])
food_array

In [ ]:
food_array + "-yum! :)"

Arrays can have many dimensions

In [ ]:
food_array

In [ ]:
food_array.shape

Why the negative -1?

This [seems like the best answer on why -1](https://stackoverflow.com/questions/18691084/what-does-1-mean-in-numpy-reshape).

In [ ]:
food_reshape = food_array.reshape(-1, 1)

In [ ]:
food_reshape.shape

In [ ]:
food_reshape

In [ ]:
food_array

In [ ]:
# Make a list and an array of three numbers

#your code here
numbers_list = [17, 21, 65]
numbers_array = np.array([17, 21, 65])

In [ ]:
# divide your array by 2

numbers_array/2

In [ ]:
# divide your list by 2

numbers_list/2

Numpy arrays support the \_div\_ operator while python lists do not. There are other things that make it useful to utilize numpy over base python for evaluating data.

Below, you will find a piece of code we will use to compare the speed of operations on a list and operations on an array. In this speed test, we will use the library [time](https://docs.python.org/3/library/time.html).

In [ ]:
import time
import numpy as np

size_of_vec = 1000

def pure_python_version():
    t1 = time.time()
    X = range(size_of_vec)
    Y = range(size_of_vec)
    Z = [X[i] + Y[i] for i in range(len(X))]
    return time.time() - t1

def numpy_version():
    t1 = time.time()
    X = np.arange(size_of_vec)
    Y = np.arange(size_of_vec)
    Z = X + Y
    return time.time() - t1


t1 = pure_python_version()
t2 = numpy_version()
print("python: " + str(t1), "numpy: "+ str(t2))
print("Numpy is in this example " + str(t1/t2) + " times faster!")

In pairs, run the speed test with a different number, and share your results with the class.

### 3. Importing and reading data with ACTUAL LITERAL Pandas!


![pandas-lib](https://pandas.pydata.org/_static/pandas_logo.png)

![alt text](https://cdn-images-1.medium.com/max/1600/1*oBx032ncOwLmCFX3Epo3Zg.jpeg "https://cdn-images-1.medium.com/max/1600/1*oBx032ncOwLmCFX3Epo3Zg.jpeg")

#### Let's use pandas to read some csv files so we can interact with them.

First, let's check which directory we are in so the files we expect to see are there.

In [ ]:
!pwd

In [ ]:
!pwd
!ls -la

Did you see that? It is possible to run terminal commands from jupyter notebook by using `!`

In [ ]:
import pandas as pd
example_csv=pd.read_csv('example1.csv')

There are also `read_excel` and many other pandas `read` functions.

In [ ]:
example_csv.head() #this is an example template of how to read a csv

Try loading in the example file in the directory called 'made_up_jobs.csv' using pandas.

In [ ]:
#read in your csv here!
jobs_df = pd.read_csv("made_up_jobs.csv")


#remember that it's nice to be able to look at your data, so let's do that here, too.
jobs_df.head()

In [ ]:
jobs_df.shape

You can also load in data by using the url of an associated dataset.

In [14]:
!wget -O - 'https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD' > shelter_data.csv

--2019-08-13 10:08:25--  https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD
Resolving data.austintexas.gov (data.austintexas.gov)... 52.206.68.26, 52.206.140.199, 52.206.140.205
Connecting to data.austintexas.gov (data.austintexas.gov)|52.206.68.26|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘STDOUT’

-                       [             <=>    ]  14.24M  2.99MB/s    in 4.7s

2019-08-13 10:08:30 (3.04 MB/s) - written to stdout [14931087]

In [15]:
!ls

LICENSE          example1.csv     made_up_jobs.csv
README.md        index.ipynb      shelter_data.csv

In [17]:
import numpy as np
import pandas as pd
import datetime

In [48]:
shelter_data=pd.read_csv('shelter_data.csv') 
#this link is copied directly from the download option for CSV

shelter_data.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A797813,*Floof,08/13/2019 10:56:00 AM,08/13/2019 10:56:00 AM,04/03/2019,Transfer,Partner,Cat,Neutered Male,4 months,Domestic Medium Hair,Black
1,A800016,*Jackson,08/13/2019 10:56:00 AM,08/13/2019 10:56:00 AM,06/03/2019,Adoption,Foster,Dog,Intact Male,2 months,Chihuahua Shorthair Mix,Tan
2,A797817,*Piper,08/13/2019 10:56:00 AM,08/13/2019 10:56:00 AM,04/03/2019,Transfer,Partner,Cat,Spayed Female,4 months,Domestic Shorthair,Calico
3,A787607,Bobo,08/13/2019 10:55:00 AM,08/13/2019 10:55:00 AM,11/05/2018,Transfer,Partner,Dog,Neutered Male,9 months,Australian Cattle Dog Mix,Black/Tricolor
4,A801031,*Margie,08/13/2019 10:55:00 AM,08/13/2019 10:55:00 AM,01/30/2018,Transfer,Partner,Dog,Spayed Female,1 year,German Shepherd,Black/Brown

In [19]:
pd.to_datetime(shelter_data['DateTime'])

0        2019-08-13 10:56:00
1        2019-08-13 10:56:00
2        2019-08-13 10:56:00
3        2019-08-13 10:55:00
4        2019-08-13 10:55:00
5        2019-08-13 10:55:00
6        2019-08-13 10:54:00
7        2019-08-13 10:54:00
8        2019-08-13 10:53:00
9        2019-08-13 08:58:00
10       2019-08-13 08:02:00
11       2019-08-13 06:29:00
12       2019-08-12 21:26:00
13       2019-08-12 21:25:00
14       2019-08-12 18:47:00
15       2019-08-12 18:46:00
16       2019-08-12 18:33:00
17       2019-08-12 18:31:00
18       2019-08-12 18:26:00
19       2019-08-12 18:03:00
20       2019-08-12 17:58:00
21       2019-08-12 17:48:00
22       2019-08-12 17:35:00
23       2019-08-12 17:31:00
24       2019-08-12 17:03:00
25       2019-08-12 17:01:00
26       2019-08-12 16:47:00
27       2019-08-12 16:46:00
28       2019-08-12 16:41:00
29       2019-08-12 16:35:00
                 ...
105730   2013-10-01 15:07:00
105731   2013-10-01 14:15:00
105732   2013-10-01 14:14:00
105733   2013-10-01 14:13:00
105734   2013-10-01 13:59:00
105735   2013-10-01 13:16:00
105736   2013-10-01 13:00:00
105737   2013-10-01 13:00:00
105738   2013-10-01 12:59:00
105739   2013-10-01 12:58:00
105740   2013-10-01 12:57:00
105741   2013-10-01 12:45:00
105742   2013-10-01 12:34:00
105743   2013-10-01 12:32:00
105744   2013-10-01 12:27:00
105745   2013-10-01 12:27:00
105746   2013-10-01 12:24:00
105747   2013-10-01 12:13:00
105748   2013-10-01 12:05:00
105749   2013-10-01 11:53:00
105750   2013-10-01 11:53:00
105751   2013-10-01 11:50:00
105752   2013-10-01 11:42:00
105753   2013-10-01 11:13:00
105754   2013-10-01 11:12:00
105755   2013-10-01 11:03:00
105756   2013-10-01 10:44:00
105757   2013-10-01 10:44:00
105758   2013-10-01 10:39:00
105759   2013-10-01 09:31:00
Name: DateTime, Length: 105760, dtype: datetime64[ns]

### Change the index of the dataframe so that it is the numeric animal ID, as an integer, with the letter A removed

In [52]:
animal_id_index = shelter_data['Animal ID'].str[1:]
animal_id_index_int = animal_id_index.astype(int)

In [53]:
animal_id_index_int[0]

797813

In [55]:
shelter_data.index = animal_id_index_int
shelter_data

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
Animal ID,,,,,,,,,,,,
797813,A797813,*Floof,08/13/2019 10:56:00 AM,08/13/2019 10:56:00 AM,04/03/2019,Transfer,Partner,Cat,Neutered Male,4 months,Domestic Medium Hair,Black
800016,A800016,*Jackson,08/13/2019 10:56:00 AM,08/13/2019 10:56:00 AM,06/03/2019,Adoption,Foster,Dog,Intact Male,2 months,Chihuahua Shorthair Mix,Tan
797817,A797817,*Piper,08/13/2019 10:56:00 AM,08/13/2019 10:56:00 AM,04/03/2019,Transfer,Partner,Cat,Spayed Female,4 months,Domestic Shorthair,Calico
787607,A787607,Bobo,08/13/2019 10:55:00 AM,08/13/2019 10:55:00 AM,11/05/2018,Transfer,Partner,Dog,Neutered Male,9 months,Australian Cattle Dog Mix,Black/Tricolor
801031,A801031,*Margie,08/13/2019 10:55:00 AM,08/13/2019 10:55:00 AM,01/30/2018,Transfer,Partner,Dog,Spayed Female,1 year,German Shepherd,Black/Brown
800998,A800998,*Heath,08/13/2019 10:55:00 AM,08/13/2019 10:55:00 AM,07/29/2017,Transfer,Partner,Dog,Intact Male,2 years,Border Collie Mix,Black/White
800496,A800496,*Marius,08/13/2019 10:54:00 AM,08/13/2019 10:54:00 AM,09/22/2018,Transfer,Partner,Dog,Intact Male,10 months,Staffordshire,Red
796087,A796087,Daisy,08/13/2019 10:54:00 AM,08/13/2019 10:54:00 AM,02/28/2019,Transfer,Partner,Dog,Spayed Female,5 months,Beagle,White/Brown
801528,A801528,*Frannie,08/13/2019 10:53:00 AM,08/13/2019 10:53:00 AM,02/05/2019,Transfer,Partner,Dog,Intact Female,6 months,Labrador Retriever/Beagle,Red/White
798869,A798869,*Willie,08/13/2019 08:58:00 AM,08/13/2019 08:58:00 AM,05/26/2019,Adoption,Foster,Cat,Neutered Male,2 months,Domestic Shorthair,Blue/White
798474,A798474,*Peep,08/13/2019 08:02:00 AM,08/13/2019 08:02:00 AM,05/22/2019,Adoption,Foster,Cat,Spayed Female,2 months,Domestic Longhair,Black/White
795994,A795994,NaN,08/13/2019 06:29:00 AM,08/13/2019 06:29:00 AM,04/27/2019,Adoption,Foster,Dog,Spayed Female,3 months,Chihuahua Shorthair,White/Tan
800922,A800922,Scout,08/12/2019 09:26:00 PM,08/12/2019 09:26:00 PM,11/28/2018,Adoption,NaN,Dog,Spayed Female,8 months,Rat Terrier/Chihuahua Shorthair,Brown/White
801728,A801728,NaN,08/12/2019 09:25:00 PM,08/12/2019 09:25:00 PM,08/08/2018,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair,Black/White
801494,A801494,Ramona,08/12/2019 06:47:00 PM,08/12/2019 06:47:00 PM,06/05/2019,Adoption,NaN,Dog,Spayed Female,2 months,Blue Lacy,Blue/White
801720,A801720,NaN,08/12/2019 06:46:00 PM,08/12/2019 06:46:00 PM,01/08/2019,Adoption,NaN,Dog,Neutered Male,7 months,Miniature Schnauzer,Gray/Brown
801995,A801995,NaN,08/12/2019 06:33:00 PM,08/12/2019 06:33:00 PM,08/12/2017,Disposal,NaN,Other,Unknown,2 years,Bat,Black/Gray
501761,A501761,Pinky,08/12/2019 06:31:00 PM,08/12/2019 06:31:00 PM,05/05/2007,Adoption,Foster,Dog,Spayed Female,12 years,Chihuahua Shorthair Mix,Black/White
801546,A801546,Lindsay,08/12/2019 06:26:00 PM,08/12/2019 06:26:00 PM,08/05/2016,Adoption,NaN,Dog,Spayed Female,3 years,Labrador Retriever Mix,Tan/White
800766,A800766,*Duncan,08/12/2019 06:03:00 PM,08/12/2019 06:03:00 PM,09/26/2018,Adoption,NaN,Dog,Neutered Male,10 months,Labrador Retriever/Great Dane,Black/White
801500,A801500,*Winnie,08/12/2019 05:58:00 PM,08/12/2019 05:58:00 PM,06/05/2019,Adoption,NaN,Dog,Neutered Male,2 months,German Shepherd,Tan
801628,A801628,Hera,08/12/2019 05:48:00 PM,08/12/2019 05:48:00 PM,08/06/2018,Adoption,NaN,Dog,Spayed Female,1 year,Chihuahua Shorthair,Tan
801091,A801091,*Gabi,08/12/2019 05:35:00 PM,08/12/2019 05:35:00 PM,03/03/2019,Adoption,NaN,Dog,Spayed Female,5 months,Pit Bull,Blue/White
801417,A801417,NaN,08/12/2019 05:31:00 PM,08/12/2019 05:31:00 PM,06/07/2019,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair,Brown Tabby
795481,A795481,*Bunny,08/12/2019 05:03:00 PM,08/12/2019 05:03:00 PM,05/21/2018,Adoption,NaN,Cat,Spayed Female,1 year,Domestic Shorthair,Calico
801222,A801222,NaN,08/12/2019 05:01:00 PM,08/12/2019 05:01:00 PM,08/01/2017,Adoption,NaN,Dog,Neutered Male,2 years,Smooth Fox Terrier Mix,Black/White
800437,A800437,Witten,08/12/2019 04:47:00 PM,08/12/2019 04:47:00 PM,05/31/2019,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Shorthair,Black
801363,A801363,Gremlin,08/12/2019 04:46:00 PM,08/12/2019 04:46:00 PM,03/03/2017,Return to Owner,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Black
801677,A801677,NaN,08/12/2019 04:41:00 PM,08/12/2019 04:41:00 PM,02/07/2019,Adoption,NaN,Dog,Neutered Male,6 months,Labrador Retriever Mix,Black/White
801730,A801730,NaN,08/12/2019 04:35:00 PM,08/12/2019 04:35:00 PM,05/24/2019,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair,Blue Tabby
...,...,...,...,...,...,...,...,...,...,...,...,...
663887,A663887,Hooch,10/01/2013 03:07:00 PM,10/01/2013 03:07:00 PM,09/25/2010,Euthanasia,Medical,Dog,Neutered Male,3 years,Pit Bull Mix,Red/White
663935,A663935,NaN,10/01/2013 02:15:00 PM,10/01/2013 02:15:00 PM,09/26/1999,Transfer,Partner,Dog,Intact Male,14 years,Chihuahua Shorthair Mix,Brown
663201,A663201,Buck,10/01/2013 02:14:00 PM,10/01/2013 02:14:00 PM,09/14/2011,Transfer,Partner,Dog,Neutered Male,2 years,Pit Bull Mix,Brown/White
663955,A663955,NaN,10/01/2013 02:13:00 PM,10/01/2013 02:13:00 PM,09/27/1999,Transfer,Partner,Dog,Intact Female,14 years,Chihuahua Shorthair Mix,Black/Tan
664171,A664171,Knight,10/01/2013 01:59:00 PM,10/01/2013 01:59:00 PM,12/30/2012,Return to Owner,NaN,Dog,Neutered Male,9 months,Basset Hound Mix,Black
663938,A663938,NaN,10/01/2013 01:16:00 PM,10/01/2013 01:16:00 PM,09/27/2003,Euthanasia,Suffering,Dog,Neutered Male,10 years,Rottweiler/Labrador Retriever,Black/Tan
664261,A664261,NaN,10/01/2013 01:00:00 PM,10/01/2013 01:00:00 PM,09/10/2013,Transfer,Partner,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Tortie
664260,A664260,NaN,10/01/2013 01:00:00 PM,10/01/2013 01:00:00 PM,09/10/2013,Transfer,Partner,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Black/White
664262,A664262,NaN,10/01/2013 12:59:00 PM,10/01/2013 12:59:00 PM,09/22/2013,Transfer,Partner,Cat,Intact Male,1 weeks,Domestic Shorthair Mix,Orange Tabby
664263,A664263,NaN,10/01/2013 12:58:00 PM,10/01/2013 12:58:00 PM,09/22/2013,Transfer,Partner,Cat,Intact Male,1 weeks,Domestic Shorthair Mix,Orange Tabby
664271,A664271,NaN,10/01/2013 12:57:00 PM,10/01/2013 12:57:00 PM,09/24/2013,Transfer,Partner,Cat,Intact Female,1 week,Domestic Shorthair Mix,Orange Tabby
663495,A663495,Pikachu,10/01/2013 12:45:00 PM,10/01/2013 12:45:00 PM,05/19/2013,Return to Owner,NaN,Cat,Spayed Female,4 months,Domestic Shorthair Mix,Torbie
664219,A664219,NaN,10/01/2013 12:34:00 PM,10/01/2013 12:34:00 PM,08/08/2013,Died,In Kennel,Cat,Intact Male,1 month,Domestic Shorthair Mix,Blue/White
613553,A613553,Beast,10/01/2013 12:32:00 PM,10/01/2013 12:32:00 PM,05/06/2010,Return to Owner,NaN,Dog,Neutered Male,3 years,Pit Bull Mix,Black/White
664258,A664258,Sylvio,10/01/2013 12:27:00 PM,10/01/2013 12:27:00 PM,10/01/2006,Return to Owner,NaN,Dog,Neutered Male,7 years,Weimaraner Mix,Silver
648744,A648744,Claire,10/01/2013 12:27:00 PM,10/01/2013 12:27:00 PM,03/04/2012,Return to Owner,NaN,Dog,Spayed Female,1 year,Anatol Shepherd Mix,White/Tricolor
663546,A663546,*Gage,10/01/2013 12:24:00 PM,10/01/2013 12:24:00 PM,09/20/2011,Euthanasia,Aggressive,Dog,Neutered Male,2 years,American Bulldog Mix,White/Brown Brindle
664225,A664225,Lou,10/01/2013 12:13:00 PM,10/01/2013 12:13:00 PM,09/30/2010,Return to Owner,NaN,Dog,Neutered Male,3 years,Shih Tzu Mix,Gray/White
663342,A663342,Deco,10/01/2013 12:05:00 PM,10/01/2013 12:05:00 PM,09/17/2012,Euthanasia,Behavior,Dog,Neutered Male,1 year,Chesa Bay Retr Mix,Red/White
656894,A656894,Jake,10/01/2013 11:53:00 AM,10/01/2013 11:53:00 AM,04/22/2013,Adoption,NaN,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Black
661795,A661795,Blakie,10/01/2013 11:53:00 AM,10/01/2013 11:53:00 AM,03/25/2013,Adoption,NaN,Cat,Spayed Female,6 months,Domestic Shorthair Mix,Tortie
663833,A663833,Baby Girl,10/01/2013 11:50:00 AM,10/01/2013 11:50:00 AM,09/24/2004,Return to Owner,NaN,Dog,Spayed Female,9 years,Labrador Retriever Mix,Black
663572,A663572,*Starla,10/01/2013 11:42:00 AM,10/01/2013 11:42:00 AM,09/21/2010,Adoption,NaN,Dog,Spayed Female,3 years,Anatol Shepherd Mix,White/Brown
663888,A663888,NaN,10/01/2013 11:13:00 AM,10/01/2013 11:13:00 AM,09/25/2011,Transfer,Partner,Dog,Spayed Female,2 years,Boxer Mix,Red/White
663646,A663646,NaN,10/01/2013 11:12:00 AM,10/01/2013 11:12:00 AM,09/22/2010,Transfer,Partner,Dog,Neutered Male,3 years,Toy Poodle Mix,White
664223,A664223,Moby,10/01/2013 11:03:00 AM,10/01/2013 11:03:00 AM,09/30/2009,Return to Owner,NaN,Dog,Neutered Male,4 years,Bulldog Mix,White
664237,A664237,NaN,10/01/2013 10:44:00 AM,10/01/2013 10:44:00 AM,09/24/2013,Transfer,Partner,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
664236,A664236,NaN,10/01/2013 10:44:00 AM,10/01/2013 10:44:00 AM,09/24/2013,Transfer,Partner,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
664235,A664235,NaN,10/01/2013 10:39:00 AM,10/01/2013 10:39:00 AM,09/24/2013,Transfer,Partner,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
659834,A659834,*Dudley,10/01/2013 09:31:00 AM,10/01/2013 09:31:00 AM,07/23/2013,Adoption,Foster,Dog,Neutered Male,2 months,Labrador Retriever Mix,Black

In [61]:
shelter_event = pd.to_datetime(shelter_data['DateTime'])

In [59]:
date_of_birth = pd.to_datetime(shelter_data['Date of Birth'])

In [62]:
age_on_exit = shelter_event - date_of_birth

In [64]:
shelter_data['Age upon Event'] = age_on_exit
shelter_data.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,Age upon Event
Animal ID,,,,,,,,,,,,,
797813,A797813,*Floof,08/13/2019 10:56:00 AM,08/13/2019 10:56:00 AM,04/03/2019,Transfer,Partner,Cat,Neutered Male,4 months,Domestic Medium Hair,Black,132 days 10:56:00
800016,A800016,*Jackson,08/13/2019 10:56:00 AM,08/13/2019 10:56:00 AM,06/03/2019,Adoption,Foster,Dog,Intact Male,2 months,Chihuahua Shorthair Mix,Tan,71 days 10:56:00
797817,A797817,*Piper,08/13/2019 10:56:00 AM,08/13/2019 10:56:00 AM,04/03/2019,Transfer,Partner,Cat,Spayed Female,4 months,Domestic Shorthair,Calico,132 days 10:56:00
787607,A787607,Bobo,08/13/2019 10:55:00 AM,08/13/2019 10:55:00 AM,11/05/2018,Transfer,Partner,Dog,Neutered Male,9 months,Australian Cattle Dog Mix,Black/Tricolor,281 days 10:55:00
801031,A801031,*Margie,08/13/2019 10:55:00 AM,08/13/2019 10:55:00 AM,01/30/2018,Transfer,Partner,Dog,Spayed Female,1 year,German Shepherd,Black/Brown,560 days 10:55:00

In [ ]:
shelter_data.shape

In [ ]:
shelter_data[0:501].shape

In [ ]:
shelter_data[0:0]

In [ ]:
shelter_data.columns

Now that we can read in data, let's get more comfortable with our Pandas data structures.

In [ ]:
type(shelter_data)

In [ ]:
ID_series=shelter_data['Animal ID'] #you can specify particular columns in a data frame in this way.

type(ID_series)

In [ ]:
shelter_data.info()

### 4. Utilizing and identifying Pandas objects

- What is a DataFrame object and what is a Series object? 
- How are they different from Python lists and dictionary objects?

These are questions we will cover in this section. To start, let's start with this list of fruits.

In [ ]:
#define your list here!

fruits = ['Apple','Orange','Watermelon','Lemon','Mango']

print(fruits)

Using our list of fruits, we can create a pandas object called a 'series' which is much like an array or a vector.

Circle back on the 'object' label in `dtype`:

## `dtype: object` is a `pandas` specific `dtype` for strings.

Sources:

* https://stackoverflow.com/a/21020411
* https://pbpython.com/pandas_dtypes.html

In [ ]:
fruits_series = pd.Series(fruits)

print(fruits_series)

Note that `fruit_series` is a string despite the `dtype: object` label.

In [ ]:
fruits_series + "...are totally awesome"

One difference between python **list objects** and pandas **series objects** is the fact that you can define the index _manually._

In [ ]:
ind = ['a','b','c','d','e']

fruits_series = pd.Series(fruits, index=ind)

print(fruits_series)

With a partner, create your own custom series from a list of lists.

In [ ]:
list_of_lists=[['cat'],['dog'],['horse'],['cow'],['macaw']]

#create custom indices for your series


#create the series using your list objects
#HINT: use a for loop


#print your series

We can do a simliar thing with Python dictionaries. This time, however, we will create a DataFrame object from a python dictionary.

In [ ]:
# Dictionary with list object in values
student_dict = {
    'name' : ['Samantha', 'Alex', 'Dante'],
    'age' : ['35','17','26'],
    'city' : ['Houston', 'Seattle', 'New york']
}

students_df = pd.DataFrame(student_dict)

students_df.head()

Circle back: how does Pandas assign dtypes to columns?

In [ ]:
#to find data types of columns
students_df.dtypes

Let's change the data type of ages to int.

In [ ]:
students_df["age"] = students_df["age"].astype(int)

students_df.dtypes

We can also use a custom index for these items. For example, we might want them to be the individual student ID numbers.

In [ ]:
school_ids = ['1111','1145','0096']

students_df = pd.DataFrame(student_dict,index=school_ids)

students_df.head()

Using Pandas, we can also rename column names.

In [ ]:
students_df.index

In [ ]:
students_df.columns

In [ ]:
students_df["name"]

In [ ]:
students_df.columns = ['NAME', 'AGE','HOME']
students_df.head()

Or, we can also change the column names using the rename function.

In [ ]:
students_df.rename(columns={'AGE': 'YEARS'}, inplace=True)
students_df.head()

Similarly, there is a tool to remove rows and columns from your DataFrame

In [ ]:
students_df.drop(columns=['YEARS', 'HOME'])

In [ ]:
students_df

If you want the file to save over itself, use the option `inplace = True`.

Every function has options. Let's read more about `drop` [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)

In [ ]:
students_df.drop(index=['1111']) #unintuitively, this is a string!

Adding columns can be a bit trickier, however.

#### Getting Started

Let's define a function that returns a dataframe for us to work with. Note that this dataframe is created from a `list` of dictionaries, and each `dict` has identical _keys_ representing field names. The _values_ are the data to be stored in each field.

This list-of-dictionaries format is a common way to represent _rows of data_ in Python.

Pandas is not the only tool that supports it natively: **MongoDB** also represents each row of a dataset as a dictionary. This format is also useful when working with big data in Spark.

In [ ]:
def get_customer_data():
    """Return a Pandas DataFrame containing imaginary customer data."""
    customers = [
        {'name': 'Harmony', 'state': 'OR'},
        {'name': 'Sarah', 'state': 'CA'},
        {'name': 'Sharad', 'state': 'WA'},
        {'name': 'CJ', 'state': 'NY'},
        {'name': 'Jerry', 'state': 'OR'},
    ]
    return pd.DataFrame(customers)

In [ ]:
get_customer_data()

#### Get the customer data

In [ ]:
customer_df = get_customer_data()

#### Try to identify all Oregonian customers as hippies:

In [ ]:
oregon_customer_df = customer_df[customer_df['state'] == 'OR']
oregon_customer_df['is_hippy'] = 1

#### Try to identify all non-Oregonian customers as non-hippies:

In [ ]:
non_oregon_customer_df = customer_df[customer_df['state'] != 'OR']
non_oregon_customer_df['is_hippy'] = 0

#### We can do the same thing on a single line (and get the same warning):

In [ ]:
customer_df[customer_df['state'] == 'OR']['is_hippy'] = 1

#### See the results! (What's wrong?)

In [ ]:
customer_df

#### What went wrong?

1. First, we _sliced_ the original dataframe to include just Oregon customers.
2. The _slice_ `oregon_customer_df` could be interpreted as a _new dataframe_ containing the selected rows in the original `customer_df`, or as a _pointer to_ the rows in the original dataframe. Pandas doesn't know which one we want.
3. When we try to _modify_ or _set_ values in the slice, Pandas doesn't know what to do.

#### One way to avoid the error is to explicitly make a copy of the slice with `df.copy()`:

In [ ]:
oregon_customer_df = customer_df[customer_df['state'] == 'OR'].copy()
oregon_customer_df['is_hippy'] = 1
oregon_customer_df

#### What if we really want to modify the original dataframe?
#### We can use `df.loc[columns, rows]` to explicity modify the original dataframe.

In [ ]:
customer_df.loc[customer_df['state'] == 'OR', 'is_hippy'] = 1
customer_df.loc[customer_df['state'] != 'OR', 'is_hippy'] = 0

#### See the awesome results!

In [ ]:
customer_df

### 5. Filtering data using Pandas

There are several ways to grab particular data from a DataFrame.

We saw the use of loc in the previous example. iloc and loc can be used in a few different ways to access data from a DataFrame.

In [ ]:
customer_df.iloc[0] #returns the first row

In [ ]:
customer_df.iloc[:,0] #returns the first column

In [ ]:
customer_df.iloc[0:2] #returns first two rows

In [ ]:
customer_df.iloc[:,0:2] #returns the first two columns

How would we use indexing to return the last item in the last row?

In [ ]:
#return the last item in the last row using indexing

Use loc to return rows and columns based on labels. Let's look at the students_df DataFrame again.

In [ ]:
students_df.head()

In [ ]:
students_df.loc['1111'] #returns the student information associated with the ID number 1111, which is the index

In [ ]:
students_df.loc[:,'YEARS'] #returns the column labeled 'YEARS'

In [ ]:
students_df.loc['1111','NAME':'HOME'] #returns information for the row labeled '1111' for columns from 'NAME' to 'HOME'

How could we return the first and last rows if loc accepts a list of labels?

In [ ]:
#return the first and last rows using one loc command

We can use loc to complete more complicated filtering of our data using boolean indexing.

In [ ]:
students_df.loc[students_df['NAME']=='Samantha'] #returns only rows where the name of the student is Samantha

We can also find out which customers in the customer_df DataFrame are not from Oregon. However, I only want to know their names. How would I return this?

In [ ]:
customer_df.head()

In [ ]:
#return the names of customers who are not from Oregon

Let's select only a single column from a DataFrame. This will create a series, which allows for straightforwards, simple selection of the data it holds.

In [ ]:
states=customer_df.loc[:,'state'] #returns a series!!
type(states)

In [ ]:
states[0:3] #returns the first 3 items

In [ ]:
states[states=='OR'] #returns 'OR' data and index

Now that we know how to select specific data, we can manipulate those cells. For example, we need to update our customer data because all of our customers in Oregon have moved to New Jersey.

In [ ]:
customer_df.loc[customer_df["state"]=='OR', "state"] = 'NJ'

customer_df

Or maybe we got a customer's name wrong and need to change that. Perhaps CJ is actually named TJ. How would we do that?

In [ ]:
#return a the customer_df with the fixed name

### Lesson Recap

Now that we have all of these new tools in our tool belt, let's take another look at our animal shelter data! 

- Use `shelter_data.columns` to get the list of column names
- Drop columns from the animal shelter data until you have only 5 columns remaining
- Rename those columns
- Get the `unique()` values in outcomes 
- select rows of animals based on an application of boolean indexing

For extra credit: add in your own new column on information to this DataFrame.

In [ ]:
#code here

## Assessment & Reflection